@import "tailwindcss";

@theme {
  --color-green: #7DC816;
  --color-green-light: #96e01a;
  --color-green-dark: #62a010;
  --color-blue: #090B4F;
  --color-blue-light: #141869;
  --color-blue-lighter: #1e2480;
  --font-sans: var(--font-jakarta);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #ffffff;
  --foreground: #0f172a;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-jakarta), sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-poppins), sans-serif;
}

html {
  scroll-behavior: smooth;
}
